<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= env.conf.templates.app.name.replace(/<(.+?)>/g, "") + " Documentation: " + title.replace(/<(.+?)>/g, "") ?></title>
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1">
  

    <script src="scripts/gamalto.js"></script>    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <script src="scripts/iscroll.js"> </script>

    <link type="text/css" rel="stylesheet" href="styles/prettify-monokai.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-gamalto.css">
    <link type="text/css" rel="stylesheet" href="styles/fontello.css">
</head>

<body>

<header class="main">
    <i>
        <a href="#" id="toggler"><i class="icon-menu"></i></a>
        <?js if (env.conf.templates.app.twitter) { ?><a href="<?js= env.conf.templates.app.twitter ?>" target="_blank" class="icon-twitter" title="Twitter"></a><?js } ?>
        <?js if (env.conf.templates.app.facebook) { ?><a href="<?js= env.conf.templates.app.facebook ?>" target="_blank" class="icon-facebook" title="Facebook"></a><?js } ?>
        <?js if (env.conf.templates.app.gplus) { ?><a href="<?js= env.conf.templates.app.gplus ?>" target="_blank" class="icon-gplus" title="Google+"></a><?js } ?>
        <?js if (env.conf.templates.app.github) { ?><a href="<?js= env.conf.templates.app.github ?>" target="_blank" class="icon-github" title="GitHub"></a><?js } ?>
    </i>
    <h1><a href="<?js= env.conf.templates.app.url || "index.html" ?>"><?js= env.conf.templates.app.name ?></a></h1>
</header>

<nav><div id="menu" class="scroll"><div class="wrapper">
    <?js= this.nav ?>
<div></div></nav>

<div id="content" class="scroll"><div class="wrapper">

    <div id="main">
        <h1 class="page-title<?js= title.indexOf("<span") != -1 ? "" : " simple" ?>"><?js= title ?></h1>
        <?js= content ?>

        <footer>
           Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
        </footer>

    </div>

</div><div>

<script> prettyPrint(); </script>
<script src="scripts/jquery.min.js"></script>

</body>
</html>
