<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName"><a href="index.html"><?js= env.conf.templates.applicationName ?></a></h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentation">
    </div>

    <ul class="nav list">
        <li><h3><a href="index.html">home</a></h3></li>
    <?js
    var kind = "",
        titles = {
            "home": "home",
            "namespace": "namespaces",
            "class": "objects"
        };

    this.nav.forEach(function (item) {

        var link = item.longname.split('.');
        link = link.length == 1 ? link[0] : "<span>" + link.shift() + ".</span>" + link.join('.');

        if (kind != item.type) { ?>
            <li><h3><?js= titles[item.type] || item.type ?></h3></li>
    <?js    kind = item.type;
        }
    ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <span class="glyphicon glyphicon-plus"></span><?js= self.linkto(item.longname, link) ?>
                <?js if (item.type === 'namespace') { ?>
                    <span class="static">static</span>
                <?js } ?>
            </span>

            <?js if (item.members.length) { ?>
                <ul class="nav members itemMembers">
                <li><span class="subtitle">Members</span></li>
                <?js
                    item.members.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                ?>
                </ul>
            <?js } ?>

            <?js if (item.typedefs.length) { ?>
                <ul class="nav typedefs itemMembers">
                    <li><span class="subtitle">Type Definitions</span></li>
                    <?js
                        item.typedefs.forEach(function (v) {
                    ?>
                        <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                    <?js
                        });
                     ?>
                </ul>
            <?js } ?>

            <?js if (item.methods.length) { ?>
                <ul class="nav methods itemMembers">
                    <li><span class="subtitle">Methods</span></li>
                    <?js

                        item.methods.forEach(function (v) {
                    ?>
                        <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                    <?js
                        });
                    ?>
                </ul>
            <?js } ?>

            <?js if (item.events.length) { ?>
                <ul class="nav events itemMembers">
                <li><span class="subtitle">Events</span></li>
                <?js
                    item.events.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                ?>
                </ul>
            <?js } ?>
        </li>
    <?js }); ?>
    </ul>
</div>